*{
	margin: 0;
	padding: 0;
}
.contact{
	padding: 28px 0px;

}
.contact h2,.m-content{
	font-size: 45px;
	line-height: 52px;
	font-weight: 500;
	color: #c0a253;
}
.contact hr{
	height: 2px;
	width: 15%;
	color: #f15f3a;
	margin: 0 auto;
}
.span{
	font-size: 55px;
	line-height: 65px;
	font-weight: 700;
	color: #c0a253;
}
/* message */
.google-map-send-us-message{
	padding-bottom: 45px;
}


.border {
    border: 5px solid #c0a253 !important;   
}
.border iframe{
	width: 100%;
	display: inline-block;

}
.btn-primary{
	padding: 8px 45px;
	background: transparent;
	color: #000;
	border: 2px solid;
	border-radius: 50px;
}
.btn-primary:hover{
	background: #c0a253;
	color: #fff;
	border: 1px solid;
}
/* container-footer */
.footer-content p{
	font-size: 14px;
	justify-content: start;

}
.footer-content span{
	color: #c0a253;
}
.widget{
	margin-left: 2px;
	
}

.copyright{
	padding: 45px 0px 12px 0px;
	color: #7a7a7a;
}

@media (max-width: 1190px) {
	.widget img{
		width: 100%;
		
	}
}

@media (max-width: 770px) {
	.widget img{
		width: 100%;
		display: flex;
		justify-content: space-between;
		
	}
}